.seccionContactame {
  min-height: 85vh;
  padding: 5em 3.5em
}

.foot {
  min-height: 10vh;
  /* border-top: 1px solid var(--color-texto-medio-oscuro); */
  border-top: 1px solid #77777742;
}

.copyrights {
  font-size: 1em;
  color: var(--color-texto-medio);
  /* color: #77777742; */
  /* padding: 1.7em; */
  padding: 1.8em 1em 1.8em 1em;
}

app-redes {
  font-size: 1.1em;
  /* margin: 1em; */
}

/* footer formulario ------------------------------------- */
.form-control-footer {
  border: -0.5em solid var(--color-background-oscuro1) !important;
  border-bottom: .1em solid #77777742 !important;
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1.05rem;
  font-weight: 400;
  line-height: 1.5;
  /* color: #dfdfdfcb; */
  color: var(--color-texto-medio);
  /* color: var(--color-links-navbar); */
  background-clip: padding-box;
  transition: .3s border-color;
}

.form-control-footer:focus {
  border-bottom: .1em solid var(--color-links-navbar) !important;
  /* outline-width: thick; */
  outline: .5em solid var(--color-background-oscuro1);
  /* outline: 1em ridge rgba(170, 50, 220, .6); */
}

button.btn-footer {
  background: transparent;
  border: none;
  text-align: end;
  color: var(--color-texto-medio);
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: .9rem;
}

button.btn-footer:hover {
  color: var(--color-links-navbar);
}



.cierre p {
  margin-bottom: 0;
}

p {
  font-size: 1.04em;
  /* 4-5-23 */
}




/* boton edit corrido al borde en phone 9-5-23 */
@media only screen and (max-width: 780px) {
  .botonEditSeccionOscura {
    margin-right: .6em;
  }
}

@media only screen and (max-width: 575px) {
  .botonEditSeccionOscura {
    margin-right: 1.7em;
  }

  .seccionContactame {
    padding: 0em;
  }
}