.redes1 i {
  color: var(--color-links-navbar);
  font-size: 1.2em; /* 1.2 */
  transition: all 0.2s ease-in;
}

.redes1 a:hover i {
  color: var(--color-texto-medio);
  /* color: #a1a1a1; */ /* apellido */
  cursor: pointer;
}