.progress {
  --bs-progress-bar-bg: var(--color-links-navbar);
  --bs-progress-border-radius: 0 !important;
  display: flex;
  height: .22em;
  overflow: hidden;
  background-color: var(--color-texto-medio-oscuro);
}

.moduloSkill {
  padding: 2em 0 1em 0;
}

.skill-text {
  color: var(--color-texto-medio);
}

.skills-porcentajes {
  display: var(--skills-porcentajes-display);
  font-size: 1rem;
  color: var(--color-texto-medio-oscuro);
}

.skill-title {
  text-transform: uppercase;
}

.seccion-titulo-skills {
  font-size: 1.5rem;
  padding: .9em 0 .5em 0;
  color: var(--color-links-navbar);

  /* --------fuente = header---------- */
  font-family: 'Federo', sans-serif;
}

.seccion-titulo-skills:after {
  width: 4rem;
  background-color: var(--color-links-navbar);
  content: "";
  display: block;
  height: 1px;
  margin-top: .5em;
}


.skillscontainer {
  padding: 4em 7em 6em 7em;
}

#skills {
  display: block;
  /* flex-direction: column;
  align-items: center;
  justify-content: center; */
}


.progress-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  /* Color del texto dentro de la barra de progreso */
  text-align: center;
  white-space: nowrap;
  background-color: var(--color-links-navbar);
}



@media screen and (max-width: 767px) {
  .skillscontainer {
    padding: 4em 3.5em 6em 3.5em;
  }
}

@media only screen and (max-device-width: 575px) {

  .seccion-titulo-skills {
    font-size: 1.5rem;
    padding: .9em 0 .5em 0;
    color: var(--color-links-navbar);

    /* --------fuente = header---------- */
    font-family: 'Federo', sans-serif;


    position: relative;
    left: 8%;
  }

  /* subrayado titulo DESPUES */
  .seccion-titulo-skills:after {
    width: 4rem;
    background-color: var(--color-links-navbar);
    content: "";
    display: block;
    height: 1px;
    margin-top: .5em;
  }


}