.banneravatartexto {
  background-color: var(--color-background-oscuro1);
  background-attachment: fixed;
  padding: 4em;
  z-index: 4;
}

.sobremi {
  background-color: var(--color-background-oscuro1);
  z-index: 1;
  /* padding: 6em var(--padding-left) 6em var(--padding-left); */
  padding: 6em 7em;
  min-height: 100.2vh;
}

.avatarbanner {
  background-color: var(--color-background-oscuro1);
  z-index: 1;
  min-height: 45em;
  /* parallax */
  background-attachment: fixed;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 80%;
  background-image: url(https://images.pexels.com/photos/16649958/pexels-photo-16649958.jpeg
);
}



@media only screen and (max-device-width: 1000px) {
  .avatarbanner {
    background-position: right;
    background-size: 110%;
    /* min-height: 26em; */
  }
}

@media only screen and (max-device-width: 820px) {
  .avatarbanner {
    background-position: right;
    background-size: 105%;
    /* min-height: 26em; */
  }
}

@media only screen and (max-device-width: 575px) {
  .avatarbanner {
    background-position: right;
    background-size: 220%;
    min-height: 34em;
  }

  .sobremi {
    padding: 6em var(--padding-left) 6em var(--padding-left);
  }

}





.linkcv {
  color: var(--color-texto-medio-oscuro);
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.1em;
  transition: all 0.09s ease-in;
}

.linkcv:hover {
  color: var(--color-links-navbar);
  font-size: 1em;
  font-weight: 300;
}

.linkcv:active {
  color: var(--color-links-navbar);
  font-size: 1em;
  font-weight: 300;
}



/* con el avatar fotito */
.img-fluid {
  /* border-radius: 10%; */
  border: 1px solid var(--color-links-navbar);
  width: 10em;
  margin-top: -18em;
  transition: all 0.5s ease-out;
}

.img-fluid:hover {
  transform: scale(1.3);
}


/* experiencias add */
.moduloExp {
  border-bottom: 1px solid #3131319e;
  padding: 2em .5em 2em 0;
  /* 3 .5 2 0 */
}

.logosExp {
  width: 8em;
}

p {
  /* color: var(--color-texto-medio-educacion); */
  /* color: var(--color-texto-medio); */
  letter-spacing: 1.66px;
  /* 2 */
  font-size: 1.14em;
}


strong {
  /* color: #414141d9; */
  color: #5a5a5aee;
  text-transform: uppercase;
}

h6 {
  color: var(--color-texto-medio);
}

.pExp {
  /* color: #5a5a5aee; */
  font-size: 1.14rem;
  letter-spacing: 1.66px;
}